<div class="container home">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-header nav-tabs">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/bookdisplay" routerLinkActive="active" *ngIf="isLoggedIn()">Find Books</a></li>
        <li><a routerLink="/addbook" routerLinkActive="active" *ngIf="isALibrarian()">AddBook</a></li>
        <li><a routerLink="/mybooks" routerLinkActive="active" *ngIf="isLoggedIn()">My Books</a></li>
        <li><a routerLink="/returns" routerLinkActive="active" *ngIf="isLoggedIn()">Returns</a></li>
        <li><a routerLink="/reshelf" routerLinkActive="active" *ngIf="isALibrarian()">ReShelf Books</a></li>
        <li><a routerLink="/librarian" routerLinkActive="active" *ngIf="isALibrarian()">Switch Books</a></li>
        <!--<li><a routerLink="/addanotherbook" routerLinkActive="active">add another Books</a></li>-->
      </ul>
      <ul class="nav navbar-header navbar-right nav-tabs">
        <li><a routerLink="/register" routerLinkActive="active" *ngIf="!isLoggedIn()">Register</a></li>
        <li><a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">Login</a></li>
        <li><a (click)="logout()" *ngIf="isLoggedIn()">Logout</a></li>


      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>

</div>